* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: url("./imgs/image.png");
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
   
}
div.mainContent {
    border: 2px dashed palevioletred;
    width: 500px;
    padding: 25px;
    background-color: pink;
    border-radius: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

