body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.same {
    text-align: center;
    background-color: rgb(253, 141, 189);
    width: 100%;
    display: inline-block;
    padding: 20px;
}
.same1 {
    font-family: cursive;
    font-size: 50px;
    text-decoration: underline;
}
h1 {
    font-size: 50px;
    margin: 20px;
    display: inline-block;
    border: 30px dotted rgb(231, 32, 214);
    font-weight: 900;
    border-radius: 50%;
}
.container{
    display: flex;
    margin-top: 10px;
    width: 0;
    flex-wrap: wrap;
    margin-left: 5px;
}
img{
    width: 200px;
    outline: 3px dashed pink;
    border: 10px solid white;
    border-bottom-width: 40px;
    height: 148px;
    margin: 2px;
}
.celebrate{
    background-color: #f779d6;
    border: 3px dashed black;
    border-radius: 4px;
    width: 200px;
}
.msgs {
    float: right;
    width: 140px;
}
.end {
    margin: 30px auto;
    width: 165px;
    height: 35px;
    border-radius: 10px;
    font-size: x-large;
    background: black;
    color: white;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}